<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="logpath" value="C:/Ignatius Joseph/logs" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date [%thread] |-%-5level %logger{0} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logpath}/bpmlinks-poc.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date [%thread] |-%-5level %logger{0} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logpath}/archived/bpmlinks-poc-%d.zip
			</fileNamePattern>
			<maxHistory>15</maxHistory>
			<totalSizeCap>30MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<root level="debug">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</root>

	<logger name="com.bpmlinks" level="info" additivity="false">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</logger>

</configuration>